<ion-view ng-controller="SettingsCtrl as main" title="High Scores">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">Difficulty</div>
                <select ng-model="main.difficulty">>
                    <option value="1">Normal</option>
                    <option value="2">Hard</option>
                    <option value="3">Evil</option>
                </select>
            </label>
        </div>
    </ion-content>
</ion-view>